[package]
name = "morok-runtime"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[dependencies]
morok-dtype = { path = "../dtype" }
morok-device = { path = "../device" }
morok-ir = { path = "../ir" }
morok-codegen = { path = "../codegen" }
inkwell = { version = "0.8.0", features = ["llvm21-1"] }
snafu = "0.8.9"

[dev-dependencies]
test-case = "3.3.1"
