[package]
name = "morok-tensor"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[dependencies]
morok-dtype.path = "../dtype"
morok-ir.path = "../ir"
morok-device.path = "../device"
morok-codegen.path = "../codegen"
morok-runtime.path = "../runtime"
morok-schedule.path = "../schedule"
once_cell = "1.21.3"
snafu = "0.8.9"
bon = "3.8"
smallvec = "1.15"
ndarray.workspace = true
papaya = "0.2.3"
parking_lot = "0.12"
